# wordpress - wordpress:php7.3-fpm
WORDPRESS_DB_NAME=wordpress
WORDPRESS_TABLE_PREFIX=wp_
WORDPRESS_DB_USER=wordpres
WORDPRESS_DB_PASSWORD=password

# mariadb - mariadb:latest
MYSQL_ROOT_PASSWORD=password
MYSQL_USER=root
MYSQL_DATABASE=wordpress
MYSQL_PASSWORD=password

# volumes on host
NGINX_CONF_DIR=~/docker-db/nginx
NGINX_LOG_DIR=~/docker-db/logs/nginx
WORDPRESS_DATA_DIR=~/docker-db/wordpress
SSL_CERTS_DIR=~/docker-db/certs
SSL_CERTS_DATA_DIR=~/docker-db/certs-data
