option_settings:
  aws:elasticbeanstalk:application:environment:
    BASE_URL: api.dongip.app
    SITE_URL: dongip.app
    TZ: Asia/Tehran
    # App version
    ANDROID_VERSION: 1.1.1
    IOS_VERSION: 1.1.5
    ACCESS_SECRET: wtrGFDse2m&FusyfHn^7WxNm&03Hx70D*hB*U(8pd987ushjpuioosi*()&U*U9008)_((*u89phjiiocnsuHJKHhp098*U898IQNkGyWm@MTye#murWZ*w0jyD@j#Rwqt#Czulm4juG79L@8odqlkRla#leauT59psVf&gq0itf#cb21j67h9a$MN1AUD8HMZUsXiOwIDoc^RM3KH$qULAAitishRsuv3KEOVeXD$Aayj0Gtni1VC#t&h%u6ck3GOKL*#KPPZk8Tvnk^Xz9O3
    VERIFY_EXPIRES_IN: 180
    ACCESS_EXPIRES_IN: 2529000
    JWT_ALGORITHM: HS256
    REFRESH_SECRET: fHZgH2YSsnj%kes*pQNvkdZmVLU#&WmHm^@wRCEN*Y2iGJ6yERFa$#g8845Po#xZq7DSH5Ugr32NR^8b6ZpikbSL2q&aMZEiFvcuo5c%wYwh2r6PLjRBMJXLGP4!w!%Ua$Ls$Mu7JhZj8J$ZfQ&Ki4fTacF*&QFUekLP6yDd%bnbbANbgwSjZ!QQPgAUX#ZUADcaRf#qcEE5cvQAXVKmDG^zLD^RRwK9c^SJr8*zUNKa3YovVeDr4$Y8pdV&D2Q6
    REFRESH_EXPIRES_IN: 700000000
    # Firebase Dongip Project
    FIREBASE_APPLICATION_DATABASEURL: https://dongip.firebaseio.com
    GMAIL_ACCOUNT: dongip.supp@gmail.com
    FIREBASE_DONGIP_USER_APP_NAME: dongip
    FIREBASE_DONGIP_SUPPORT_APP_NAME: dongip-support
    GOOGLE_CLIENT_ID: 462372997866-8k04b554oljf0jqima89hplld5g3pdbo.apps.googleusercontent.com
    # Apple
    APPLE_IDENTITY_URL: https://appleid.apple.com/
    # Mariadb
    MARIADB_HOST: dongip-db.c6ekedtthqer.eu-central-1.rds.amazonaws.com
    MARIADB_USER: root
    MARIADB_PASSWORD: 3$c4B&LdQQP$Kk6u!cgP
    MARIADB_DATABASE: dongip-db
    MARIADB_PORT: 1320
    KAVENEGAR_API_KEY: 43634566397948444751627744397133744569464E4B433430467958597051735165712F494B436B6E45493D
    SMS_TEMPLATE_FA: dongip-verify
    SMS_TEMPLATE_EN: dongip-verify-en
    SMS_SURVEY_TEMPLATE: survey
    # Cafebazaar
    CAFEBAZAAR_PACKAGE_NAME: io.sorena.dongip
    CAFEBAZAAR_CLIENT_ID: D8pLlV9kB6BrbTllSx6lT1IEtwA4iSVajrr7SNxM
    CAFEBAZAAR_CLIENT_SECRET: vkt8O0f7wTaMubqk1PbMYUA5Ca3bc6lZpK3QiZIBCv0qOMBUKN9gg5I4akX9
    CAFEBAZAAR_REFRESH_TOKEN: KC4MLEPNqv6CdDwiIDZngUoXAuqmMz
    CAFEBAZAAR_API_BASEURL: https://pardakht.cafebazaar.ir/devapi/v2
    # Zoho mail
    ZOHO_ACCOUNT_SCOPE_URL: https://accounts.zoho.eu/oauth/v2/token
    ZOHO_MESSAGE_SCOPE_URL: https://mail.zoho.eu/api/accounts/%s/messages
    ZOHO_SUPPORT_MAIL_ADDRESS: support@dongip.ir
    ZOHO_SUPPORT_ACCOUNT_ID: 1588560000000002002
    ZOHO_SUPPORT_ACCOUNT_CLIENT_ID: 1000.KE4YMBF305F46I6NINA1OK5O6IM3HD
    ZOHO_SUPPORT_ACCOUNT_CLIENT_SECRET: 272cacdaddad3b8a9d8dae9894a2183ce70ab4e4a2
    ZOHO_SUPPRT_ACCOUNT_REFRESH_TOKEN: 1000.5435939f915d6a8b7101e3618889ae5e.a697929c861e65272cd824a7d1f0298a
    # Dongip Woocommerce
    WOOCOMMERCE_CONSUMER_KEY: ck_461cf9306748a3ff94fa290f08f979d1906b3599
    WOOCOMMERCE_CONSUMER_SECRET: cs_2ce3aa334fc77a60e21a3fee13a7ee6dea282220
